!-----URxvt settings-----!
URxvt*perl-ext-common: default,clipboard,vtwheel,matcher,tabbedex
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.tabbed.new-button: false
URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.font: xft:dejavu sans mono:book:size=10:hinting=medium
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
!-----Xterm settings-----!
xterm*faceName: Dejavu Sans Mono:style=Book:antialias=true:hinting=medium
xterm*faceSize: 10
!-----Universal Settings-----!
Xft*dpi:                96
*.foreground      : #d0d0d0
*.background      : #000000
*.cursorColor     : #ffffff
!black
*color0:#010008
*color8:#1C1C1C
!red
*color1:#A71B1A
*color9:#BF3130
!green
*color2:#3B8526
*color10:#58A642
!yellow
*color3:#E49202
*color11:#FFB026
!blue
*color4:#1D576D
*color12:#31788E
!magenta
*color5:#97219C
*color13:#A7248C
!cyan
*color6:#24866F
*color14:#37A48D
!white
*color7:#B5AD64
*color15:#CEC67D

